<div class="dropdown">
  <button class="dropbtn">
    {{ site.Language.LanguageName }}
  </button>
  <div class="dropdown-content">
    {{ range $.Root.Translations }}
    <a
      title="{{ .Language.LanguageName }}"
      href="{{ .Permalink }}"
      >{{ .Language.LanguageName }}</a
    >
    {{ end }}
  </div>
</div>
