<nav>
  {{ partial "search" . }}
  {{ $data := index .Site.Data .Site.Language.Lang }}

  <a
    href="https://f-droid.org/packages/com.tnibler.cryptocam/"
    class="flex align-right"
  >
    <img src="/get-it-on-fdroid.png" alt="Get it on F-Droid" height="70" />
  </a>

  <section class="gdoc-nav--main">
    <h2>{{ i18n "navigation" }}</h2>
    {{ if .Site.Params.GeekdocMenuBundle }}
    {{ partial "menu-bundle" (dict "current" . "source" $data.menu.main.main) }}
    {{ else }}
    {{ partial "menu-filetree" . }}
    {{ end }}
  </section>

  <section class="gdoc-nav--more">
    {{ if $data.menu.more.more }}
    <h2>{{ i18n "more" }}</h2>
    {{ partial "menu-bundle" (dict "current" . "source" $data.menu.more.more) }}
    {{ end }}
  </section>
</nav>
